{% extends "layouts/baseotherpages.html" %}

{% block head%}
<!--Just if you want to add some more content to the Head-->
{% endblock %}

{% block title%}WP-A.CO - Your Open Source URL Shortener!{% endblock %}

{% block Logo%}<h1>WP-A.CO</h1>{% endblock %}


{% block bodycontent%}
<div id="mg10px">
<h2>Your new URL is: <a href = "{{FullURL}}">{{FullURL}}</a></h2>

<p>If you want to create a new URL <a href="#">click here</a>, or if you want to create a new URL with the customized alias, <a href="#">click here!</a></p>
</div>
{% endblock %}

{% block footer%}

{% endblock %}
