{% extends "layouts/baselayout-bootstrap.html" %}

{% block head%}
<!--Just if you want to add some more content to the Head-->
{% endblock %}

{% block title%}WP-A.CO - Your Open Source URL Shortener!{% endblock %}

{% block Logo%}WP-A.CO{% endblock %}

{% block jumbocontent%}
<h2>Your new URL is: <a href = "{{FullURL}}">{{FullURL}}</a></h2>
{% endblock %}


{% block bodycontent%}
<div class="container">
<h4>If you want to create a new URL <a href="/new/">click here</a>, or if you want to create a new URL with the customized alias, <a href="/new/">click here!</a></h4>
</div>
{% endblock %}

{% block footer%}

<italic>WP-A.CO - Your Open Source URL Shortener!</italic>
{% endblock %}
