{% extends 'layouts/header.html' %}
{% block top %}<title>WhalePy</title>{% endblock top %}
{% block body %}
<section>
<h1>WP-A.CO  - Url Shortner</h1>

<form method="get" action="/a/" enctype="multipart/form-data">
<table>
	<tr>
		<td>{{ form.url.label }}:</td>
		<td>{{ form.url(id="urlencurtada-campo") }}</td>
	</tr>
	<tr>
		<td>{{ form.customshort.label }}:</td>
		<td>{{ form.customshort(id="customshort-campo") }}</td>
	</tr>
</table>

	<input type="submit" value="Submit URL!">

</form>


</section>
{% endblock body %}
{% block footer %}
<h3>FOOTER PORRA</h3>
{% endblock footer %}
