{% extends 'layouts/header.html' %}
{% block top %}<title>WP-A</title>{% endblock top %}
{% block body %}
<section>
<h1>WP-A.CO  - Url Shortner</h1>

<form method="get" action="/add/" enctype="multipart/form-data">
<table>
	<tr>
		<td>URL to Shorten:</td>
		<td><input type="text" name="url"></td>
	</tr>
	<tr>
		<td>Custom Alias:</td>
		<td><input type="text" name="customshort"></td>
	</tr>
</table>

	<input type="submit" value="Submit URL!">

</form>

{{urlPlace}}
{{customShortPlace}}

</section>
{% endblock body %}
{% block footer %}

{% endblock footer %}
