{% extends "layouts/baselayout-bootstrap.html" %}

{% block head%}
<!--Just if you want to add some more content to the Head-->
{% endblock %}

{% block title%}WP-A.CO - Your Open Source URL Shortener!{% endblock %}

{% block Logo%}WP-A.CO{% endblock %}

{% block jumbocontent%}
<h1>Short your URL!</h1>
<form action="/add/" method="get">
  <input type="text" name="url" value="" class="form-control" style="height:50px;font-size:20px;" placeholder="The longest URL in the Earth">
  <input type="text" name="customshort" class="form-control" style="height:50px;font-size:20px;" value="" placeholder="Your Custom Alias"><br/>
  <input type="submit" value="Shorten" class="btn btn-primary btn-lg">
</form>
{% endblock %}

{% block bodycontent%}

{% endblock %}

{% block footer%}

<italic>WP-A.CO - Your Open Source URL Shortener!</italic>
{% endblock %}
