{% extends "layouts/baselayout.html" %}

{% block head%}
<!--Just if you want to add some more content to the Head-->
{% endblock %}

{% block title%}WP-A.CO - Your Open Source URL Shortener!{% endblock %}

{% block Logo%}<h1>WP-A.CO</h1>{% endblock %}


{% block bodycontent%}


<div id="mg10px">
  <h2>Login:</h2>
      {% if error %}
        <h3>Error: {{error}}</h3>
      {% endif %}
    <br/>
    <form class="" action="/login/" method="post">
        <input type="text" name="username"  placeholder="Username"><br/>
        <input name="password" type="password" placeholder="Password">
        <input type="submit" name="name" value="Login"><br/>
        If you don't have a username, click here to <a href="#">sign up</a>!
    </form>
</div>
{% endblock %}

{% block footer%}
<italic>WP-A.CO - Your Open Source URL Shortener!</italic>
{% endblock %}
